*, 
*::before, 
*::after {
	box-sizing: border-box;
	font-family: 'Helvetica',
}

:root {
	--hue-neutral: 200;
	--hue-wrong: 0;
	--hue-correct: 145;
}

body {
	--hue: var(--hue-neutral);
	background-color: hsl(var(--hue), 100%, 20%);
	/*background: blue;*/
	padding: 0;
	margin: 0;
	display: flex;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

/*This class will be added with JS to change the body backgroung color
to green when answer is correct.*/
body.correct {
	--hue: var(--hue-correct);
}

/*This class will be added with JS to change the body backgroung color
to red when answer is incorrect.*/
body.wrong {
	--hue: var(--hue-wrong);
}

.container {
	width: 800px;
	max-width: 80%;
	background-color: #fff;
	border-radius: 5px;
	padding: 10px;
	box-shadow: 0 0 10px 2px;
}

#question {
	font-size: 25px;
	font-weight: bold;
	background-color: #000;
	color: #fff; 
	padding: 10px;
}


.btn-grid {
	display: grid;
	grid-template-columns: repeat(2, auto);
	gap: 10px;
	margin: 20px 0;
}

.btn {
	--hue: var(--hue-neutral);
	border: 1px solid hsl(var(--hue), 100%, 30%);
	background-color: hsl(var(--hue), 100%, 50%);
	border-radius: 5px;
	padding: 5px 10px;
	color: #fff;
	outline: none;
	font-size: 20px;
}

.btn:hover {
	border-color: #000;
}

.btn.correct {
	--hue: var(--hue-correct);
	color: #000;
}

.btn.wrong {
	--hue: var(--hue-wrong);
}

.start-btn, .next-btn {
	font-size: 2.5rem;
	font-weight: bold;
	padding: 10px 20px;
}

.controls {
	display: flex;
	justify-content: center;
	align-items: center;
}

.hide {
	display: none;
}


























